<div class="MainDisplayNotesContainer">
    <div *ngFor="let notes of archievedNotes">

        <div class="NotesContainer" [style.background-color]="notes.color">

            <div class="TitleInput">
                {{notes.title}}
            </div>

            <div class="DescriptionInput">
                {{notes.description}}
            </div>
            <!-- <div class="BottomIconsContainer">
                    <app-notes-icons [clickReciever]="notes"></app-notes-icons>
                </div> -->

        </div>
    </div>
</div>