<div class="MainBody">

    <div class="CenterBlock">

        <div class="InputTakingArea">

            <form [formGroup]="registerForm" class="FormBody" (ngSubmit)="reply()">

                <div class="FormTitle">
                    <span class="Word one">F</span>
                    <span class="Word two">u</span>
                    <span class="Word three">n</span>
                    <span class="Word one">d</span>
                    <span class="Word five">o</span>
                    <span class="Word three">o</span>
                </div>

                <div class="Subtext">
                    <span class="TopSubtext">Forgot Password</span>
                </div>

                <div class="Subtext">
                    <span class="BottomSubtext">enter email to recieve reset link</span>
                </div>

                <div class="UserNameField">

                    <mat-form-field appearance="outline" class="LongField">
                        <mat-label>email</mat-label>
                        <mat-error>Enter valid data</mat-error>
                        <input matInput formControlName="email">
                    </mat-form-field>

                </div>

                <div>
                    <a routerLink="/login" class="Sign-In">Sign-in instead</a>
                </div>

                <div class="Options">
                    <button mat-flat-button color="primary" class="Button">Save</button>
                </div>
            </form>

        </div>

    </div>

</div>