<div class="MainBody">

    <div class="CenterBlock">

        <div class="InputTakingArea">

            <form action="#" class="FormBody">

                <div class="FormTitle">
                    <span class="Word one">F</span>
                    <span class="Word two">u</span>
                    <span class="Word three">n</span>
                    <span class="Word one">d</span>
                    <span class="Word five">o</span>
                    <span class="Word three">o</span>
                </div>

                <div class="Subtext">
                    <span class="TopSubtext">Find your email</span>
                </div>

                <div class="Subtext">
                    <span class="BottomSubtext">enter Phone number or recovery mail</span>
                </div>

                <div class="UserNameField">

                    <mat-form-field appearance="outline" class="LongField">
                        <mat-label>Phone or Recovery email</mat-label>
                        <input matInput>
                    </mat-form-field>

                </div>

                <div>
                    <a href="#" class="Sign-In">Sign-in instead</a>
                </div>

                <div class="Options">
                    <button mat-flat-button color="primary">Next</button>
                </div>
            </form>

        </div>

    </div>

</div>
