<div class="MainBody">

    <div class="CenterBlock">
        <div class="InputTakingArea">
            <form [formGroup]="registerForm" class="FormBody" (ngSubmit)="SignUp()">
                <div class="FormTitle">
                    <span class="Word one">F</span>
                    <span class="Word two">u</span>
                    <span class="Word three">n</span>
                    <span class="Word one">d</span>
                    <span class="Word five">o</span>
                    <span class="Word three">o</span>
                </div>

                <div class="Subtext">
                    <span class="TopSubtext">Create your Fundoo account</span>
                </div>

                <div class="Subtext">
                    <span>to continue to notes</span>
                </div>


                <div class="NameFields">
                    <mat-form-field appearance="outline" class="ShortFields LeftOnes">
                        <mat-label>First Name</mat-label>
                        <input matInput formControlName = "firstName">
                        <mat-hint>First letter capital</mat-hint>
                        <mat-error>Enter valid data</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="ShortFields">
                        <mat-label>Last Name</mat-label>
                        <input matInput formControlName="lastName">
                        <mat-error>Enter valid data</mat-error>
                    </mat-form-field>
                </div>

                <div class="UserNameField">
                    <mat-form-field appearance="outline" class="LongField">
                        <mat-label>Username</mat-label>
                        <input matInput formControlName="email">
                        <mat-hint>You can use letters, numbers & periods. Minimum 5</mat-hint>
                        <mat-error>Enter valid data</mat-error>
                    </mat-form-field>
                </div>

                <div class="PasswordFields">

                    <mat-form-field appearance="outline" class="ShortFields LeftOnes">
                        <mat-label>Password</mat-label>
                        <input type="password" matInput formControlName="password" class="PasswordType">
                        <mat-error>Enter valid data</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="ShortFields">
                        <mat-label>Confirm</mat-label>
                        <input type="password" matInput formControlName="confirmPassword" class="PasswordType">
                        <mat-error>Did not match</mat-error>
                    </mat-form-field>
                    <mat-hint>Use 8 or more characters with a mix of letters, numbers & symbols</mat-hint>
                </div>

                <div class="ShowPassword">
                    <mat-checkbox class="example-margin" (click)="ShowPWD()">
                        Show Password
                    </mat-checkbox>
                </div>

                <div class="Options">
                    <a routerLink="/login" class="Sign-In">Sign-in instead</a>
                    <button mat-flat-button color="primary" class="Button">Next</button>
                </div>

            </form>
        </div>



        <div class="RightSide">

            <img src="../../../assets/accountBadge.svg" alt="shield" class="RightImage">

            <div class="ImageUnderText">
                <span>One account. All of Fundoo</span>
                <span>working for you</span>
            </div>
        </div>

    </div>

</div>