.BottomIcons
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0px;
}

.DownIcons
{
    height: 18px;
}

.LeftIcons
{
    width: 100%;
    display: flex;
    justify-content: space-between;
}