<div class="MainDisplayNotesContainer">
    <div *ngFor="let notes of childData | searchFilterer : searchInput">

        <div class="NotesContainer" *ngIf="notes.isDeleted == false" [style.background-color]="notes.color">

            
            <div class="TitleInput" (click)="DialogBox(notes)">
                {{notes.title}}
            </div>

            <div class="DescriptionInput" (click)="DialogBox(notes)">
                {{notes.description}}
            </div>

            <div class="BottomIconsContainer">
                <app-notes-icons [clickReciever]="notes.id" (ColorEvent)="RecieveColorInfo($event)"></app-notes-icons>
            </div>

        </div>

    </div>
</div>