<div class="MainDisplayNotesContainer">
    <div *ngFor="let notes of trashNotes">

        <div class="NotesContainer" [style.background-color]="notes.color">

            <input type="text" class="TitleInput" value={{notes.title}}>
            <input type="text" class="DescriptionInput" value={{notes.description}}>

            <div class="BottomIconsContainer">
                <img src="../../../assets/restore_from_trash.svg" alt="Restore" class="TrashIconos">
                <img src="../../../assets/delete_forever.svg" alt="Delete Forever" class="TrashIconos" (click)="DeleteForever(notes.id)">
            </div>

        </div>
    </div>
</div>