<div class="MainBody">

    <div class="CenterBlock">

        <div class="InputTakingArea">

            <form [formGroup]="registerForm" class="FormBody" (ngSubmit)="reply()">

                <div class="FormTitle">
                    <span class="Word one">F</span>
                    <span class="Word two">u</span>
                    <span class="Word three">n</span>
                    <span class="Word one">d</span>
                    <span class="Word five">o</span>
                    <span class="Word three">o</span>
                </div>

                <div class="Subtext">
                    <span class="TopSubtext">Sign in</span>
                </div>

                <div class="Subtext">
                    <span class="BottomSubtext">to continue to notes</span>
                </div>

                <div class="UserNameField">

                    <mat-form-field appearance="outline" class="LongField">
                        <mat-label>Email</mat-label>
                        <input formControlName="email" matInput>
                        <mat-error>Enter valid data</mat-error>
                    </mat-form-field>

                </div>

                <div class="UserNameField">

                    <mat-form-field appearance="outline" class="LongField">
                        <mat-label>Password</mat-label>
                        <input type="password" formControlName="password" matInput>
                        <mat-error>Enter valid data</mat-error>
                    </mat-form-field>
                </div>

                <div class="ForgotPassword">
                    <a routerLink="/forgot-password" class="ForgotPWDLink">forgot password?</a>
                </div>

                <div class="Options">
                    <a routerLink="/sign-up" class="ForgotPWDLink Sign-In">Create account</a>
                    <button mat-flat-button color="primary" class="Button">Next</button>
                </div>
            </form>

        </div>

    </div>

</div>
